.image-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #78350f;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 15%;
}

.background-image {
  width: 80%;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}

.centered-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}
.centered-title-2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.popup {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 150px;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  text-align: center;
  transform: translate(-50%, -50%);
}

.popup-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.popup-text {
  margin-top: 8px;
  font-size: 14px;
}

.popup-extension {
  position: relative;
  margin-top: 10px;
  width: 100%;
  padding: 8px;
  background: #ddd;
  border-radius: 4px;
  text-align: center;
}

.extension-text {
  font-size: 12px;
  color: #333;
}

/* Ok şekli */
.arrow-down {
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #ddd; /* Gri renginde bir ok */
}

@media (max-width: 768px) {
  .image-container {
    margin-top: 70%;
  }

  .background-image {
    width: 100%;
    object-fit: cover;
  }

  .centered-title {
    font-size: 1.8em;
  }
  .centered-title-2 {
    font-size: 1.6em;
  }

  .popup {
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px; /* Pop-up'ı mobilde biraz daralt */
  }
}
