/* Genel footer stili */
.footer {
    padding: 20px;
    background-color: #0f172a;
    color: #fff;
  }
  
  /* 4 sütun düzeni */
  .footer-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    text-align: center;
    padding: 25px;
  }
  
  .footer-column {
    flex: 1;
    margin: 10px;
    text-align: left;
  }

  .footer-item {
    color: white !important;
  }
  
  .footer-column:last-child {
    margin-right: 0;
  }
  
  .footer-heading {
    font-weight: bold;
    color: white !important;
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  .footer-column p {
    margin: 5px 0;
    font-size: 20px;
  }
  
  .footer-divider {
    border: none;
    border-top: 1px solid #555;
    margin: 20px 0;
  }

  .footer-image {
    width: 150px;
    cursor:pointer
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }
  
  .footer-left {
    flex: 1;
    text-align: left;
    color: white !important;
    font-size: large;
  }
  
  .footer-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .footer-word {
    margin-left: 10px;
  }
  
  .footer-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-icon {
    font-size: 24px;
    color: white;
    margin-right: 15px;
  }
  
  .footer-icon:hover {
    color: #ccc; 
  }
  
  @media (max-width: 768px) {
    .footer-columns {
      flex-direction: column;
    }
  
    .footer-column {
      margin-bottom: 15px;
    }
  
    .footer-icons {
      flex-direction: column;
    }

    .footer-column {
      flex: 1;
      margin: 10px;
      text-align: center;
    }
    .footer-bottom {
      display:block;
      text-align: center;

    }

    .footer-left {
      flex: 1;
      text-align: left;
      color: white !important;
      font-size: large;
      text-align: center;
    }

    .footer-right {
      text-align: center !important;
      align-items: center !important;
      display:block;
      justify-content: none;
      margin-bottom: 15px;
    }
  }
  